<div class="wrapper">
  <div class="header">
    <h1>Dojo Weather Forecast</h1>
    <a [routerLink]="['burbank']">Burbank</a>
    <span class="bigText"> | </span>

    <a [routerLink]="['chicago']">Chicago</a>
    <span class="bigText"> | </span>

    <a [routerLink]="['dallas']">Dallas</a>
    <span class="bigText"> | </span>

    <a [routerLink]="['dc']">D.C.</a>
    <span class="bigText"> | </span>

    <a [routerLink]="['sanjose']">SanJose</a>
    <span class="bigText"> | </span>

    <a [routerLink]="['seattle']">Seattle</a>
    
  </div>

  <router-outlet></router-outlet>

</div>
