<div class="wrapper">
  <h1>Burbank, CA</h1>

  <br>
  <br>
  <div class="half left">
    Current Temperature: <span class="bold">{{currentTemp}}</span> <br>
    High Temperature: <span class="bold">{{hiTemp}}</span><br>
    Low Temperature: <span class="bold">{{loTemp}}</span><br>
    Humidity: <span class="bold">{{humidity}}</span><br>
    Description: <span class="bold">{{status}}</span><br>
  </div>
  <div class="half right">
    <div class="imgHolder">
      <img src='./assets/static/burbank.jpg' alt="burbank">
    </div>
  </div>
</div><!-- closes wrapper -->

