.locationHolder{
  border: solid 2px lime;
  margin-bottom: 10px;
  padding: 10px;
}

.location{
  display: inline-block;
  width: 200px;
  height: 150px;
  margin-left: 14px;
  border: solid 2px blue;
  text-align: center;
}
.buttonStyle{
  margin: 3px;
  padding: 10px;
  border: solid 1px gold;
  border-radius: 5px;
  background-color: midnightblue;
  color: white;
  font-weight: bold;
}
