<div class="locationHolder">

  <div class="location">
    <h2>House</h2>
    <small>Earns 7 - 15 Gold</small><br>
    <button class="buttonStyle" (click)="OnClick('house')">House</button>
  </div>

  <div class="location">
    <h2>Farm</h2>
    <small>Earns 2 - 5 Gold</small><br>
    <button class="buttonStyle" (click)="OnClick('farm')">Farm</button>
  </div>

  <div class="location">
    <h2>Cave</h2>
    <small>Earns 5 - 10 Gold</small><br>
    <button class="buttonStyle" (click)="OnClick('cave')">Cave</button>
  </div>

  <div class="location">
    <h2>Casino</h2>
    <small>Earn or Lose up to 100 Gold</small><br>
    <button class="buttonStyle" (click)="OnClick('casino')">Casino</button>
  </div>



</div>
