<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3>{{x}}</h3>
  <h3>{{y}}</h3>
  <h3>{{y-x}}</h3>
  <h3>{{x+y}}</h3>
  <h3>{{x * y | currency}}</h3>
  <h3>{{myStr | uppercase}}</h3>
  <h3>{{ item | json }}</h3>

  <h3>
  <span [ngStyle]="{
    'background-color': color,
    'padding': '5px',
    'font-weight': 'bold'
  }" >
  Using Style
</span>
</h3>

<p>
  <span [ngClass]="{
    'black': myBoolean,
    'bold': true
  }">
    Using Class
  </span>
</p>

<input type="text" [value]="x"><br>
  <img [src]="y" [alt]="y">
  <h3>{{today | date:'short'}}</h3>
  <h2 *ngIf='myBoolean'>Show This!</h2>
  <h2 *ngIf='!myBoolean'>Don't Show This!</h2>
  <ul>
    <li *ngFor="let name of names">
      {{name}}
    </li>
  </ul>
</div>


