<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>Cars and Cats</title>
</head>
<body>
    <div id="wrapper">

    <center>
        <div>
            <center>
                <h3>What would you like to go look at next?</h3>
                <a href="/">
                    <h2>Name Form</h2>
                </a>
                <a href="/cats">
                    <h2>CATS!</h2>
                </a>
                <a href="/cars">
                    <h2>Roll for another Car!</h2>
                </a>
            </center>
        </div>
        <div class="image" id="picture">
            <img class="pic" src="/images/car.jpg" alt="Car">
        </div>
    </center>
    
    </div>
</body>
</html>